/* fonts */

:root {
	/* shades of grey */
	--clr-primary-1: rgb(0, 0, 0);
	--clr-primary-2: rgb(34, 32, 32);
	--clr-primary-3: rgb(87, 87, 87);
	--clr-primary-4: rgb(255, 255, 255);

	/* shades of blue */
	--clr-primary-5: rgb(0, 70, 76);
	--clr-primary-6: rgb(0, 32, 76);
	--clr-primary-7: rgb(6, 0, 76);

	/* comlementary colors with blue */
	--clr-primary-7: rgb(76, 6, 0);
	--clr-primary-8: rgb(48, 4, 0);
	--clr-primary-9: rgb(28, 2, 0);

	/* light shades */
	--clr-primary-10: rgb(191, 209, 210);
	--clr-primary-11: rgb(128, 163, 166);
	--clr-primary-12: rgb(191, 209, 210);
	--clr-transparent: transparent;

	/* fonts */
	--ff-primary: 'Roboto', sans-serif;
	--ff-secondary: 'Open Sans', sans-serif;
	--ff-quicksand: 'Quicksand', sans-serif;
	--ff-fontWeight-light: 300;
	--ff-font-weight-medium: 400;
	--ff-fontWeight-bold: 700;

	/* various */
	--max-width: 1200px;
	--fixed-width: 620px;
	--light-shadow: 0 5px 15px rgba(60, 60, 60, 0.5);
	--spacing-sm: 0.09rem;
	--spacing-md: 0.12rem;
	--spacing-lg: 0.25rem;
	--opacity-blue: rgba(0, 70, 76, 0.6);
	--padding-big: 5em;
}

/* standard styles */
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--clr-primary-4);
	padding: 1em;
}
img {
	display: block;
}

/* Global styles  */
html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	background: var(--clr-primary-1);
	font-family: var(--ff-primary);
	/* overflow-y: hidden; */
}

.primary-clr {
	color: var(--clr-primary-5);
}

.secondary-clr {
	color: var(--clr-primary-8);
}

h1 {
	padding: 0.5em 0;
	letter-spacing: var(--spacing-md);
	color: var(--clr-primary-4);
	font-weight: var(--ff-fontWeight-medium);
}

h2 {
	display: inline;
	padding: 0.3em 0 8.3em 0;
	color: var(--clr-primary-5);
}

h4 {
	padding: 0.5em 0 0.5em 2em;
	margin-bottom: 0.2em;
	letter-spacing: var(--spacing-sm);
	font-weight: var(--ff-fontWeight-medium);
}
.align-center {
	text-align: center;
	padding-right: 4rem;
}
.align-right {
	text-align: right;
	padding-right: 2em;
}

.btn-bg {
	width: 220px;
	margin: 2em 0;
	padding: 0.9em 1.5em;
	border-radius: 5px;
	font-family: var(--ff-secondary);
	font-weight: var(--ff-fontWeight-light);
	font-size: 16px;
	letter-spacing: var(--spacing-sm);
	text-align: center;
}

/* Header */
header {
	background: var(--clr-primary-1);
	min-height: 100vh;
	margin: auto;
	max-width: var(--max-width);
	position: relative;
	display: flex;
	justify-content: center;
	color: white;
	letter-spacing: var(--spacing-sm);
}

.container {
	background: var(--clr-transparent);
	color: var(--clr-primary-4);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
}

/* .matter {
	width: 100%;
	height: 100vh;
} */

/* Nav bar  */
.nav-bar {
	width: var(--max-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	font-family: var(--ff-quicksand);
	font-size: 1.3rem;
	font-weight: var(--ff-fontWeight-light);
	padding: 1em;
	z-index: 1;
}

/* shows only on scroll past nav height */
.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	background-color: var(--clr-primary-1);
	box-shadow: var(--light-shadow);
	z-index: 2;
}

.nav-list {
	display: flex;
	justify-content: space-between;
}

.list-items {
	margin-right: 1em;
	padding-bottom: 0.3em;
	position: relative;
}

.link-style:after {
	content: ' ';
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
	height: 1px;
	background: var(--clr-primary-5);

	transform: scaleX(0);
	transition: transform 250ms ease-in;
}

.link-style:hover::after {
	transform: scaleX(1);
}

/* hero section */
.hero {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100vh;
	margin: 2rem 0 1rem 0;
}

.hero img {
	width: 300px;
	height: 380px;
	border-radius: 60%;
	margin: 2.5rem 3rem;
}

.hero-image {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* hover effect on the hero section */
/* card */
.intro-card {
	cursor: none;
}

/* card title */
.hover-1 {
	position: relative;
	z-index: 1;
}

.hover-1::after {
	content: '';
	position: absolute;
	top: 0.25rem;
	bottom: 0.25rem;
	left: -1rem;
	right: -1rem;
	/* width: 110%; */
	background: var(--clr-primary-8);
	z-index: -1;

	transform: scaleX(0.03);
	transform-origin: left;
	transition: transform 450ms ease-out;
}
.intro-card:hover .hover-1::after {
	transform: scaleX(1);
}
/* card body */
.hover-2 {
	color: var(--clr-transparent);
	position: relative;
	z-index: 1;
	transition: color 450ms ease-out;
}
.hover-2::after {
	content: '';
	position: absolute;
	top: 0.25rem;
	bottom: 0.25rem;
	left: -1rem;
	right: -1rem;
	background: var(--clr-primary-11);
	z-index: -1;

	transform: scaleX(0);
	transform-origin: right;
	transition: transform 350ms ease-out;
}
.intro-card:hover .hover-2 {
	color: var(--clr-primary-4);
}

.intro-card:hover .hover-2::after {
	transform: scaleX(1);
}

.hover-3 {
	color: var(--clr-transparent);
	position: relative;
	z-index: 1;
	transition: color 600ms;
}

.hover-3::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 12em;
	right: -1em;
	background: var(--clr-primary-5);
	z-index: -1;

	transform: scaleX(0);
	transition: transform 350ms linear;
	transform-origin: left;
}
.intro-card:hover .hover-3 {
	color: var(--clr-primary-4);
}

.intro-card:hover .hover-3::after {
	transform: scaleY(1);
}

/* button under foto */
.hero-btn {
	color: var(--clr-primary-5);
	text-transform: uppercase;
	transition: 350ms;
	overflow: hidden;
	position: relative;
}
.hero-btn:hover {
	background-color: var(--clr-primary-5);
	color: var(--clr-primary-4);
	box-shadow: 0 0 50px var(--clr-primary-5);
	transition-delay: 350ms;
}
.hero-btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	border-top: 2px solid var(--clr-primary-5);
	border-left: 2px solid var(--clr-primary-5);
	transition: 350ms;
	transition-delay: 350ms;
}
.hero-btn:hover::before {
	width: 100%;
	height: 100%;
	transition-delay: 0ms;
}
.hero-btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 12px;
	height: 12px;
	border-bottom: 2px solid var(--clr-primary-5);
	border-right: 2px solid var(--clr-primary-5);
	transition: 350ms;
	transition-delay: 350ms;
}
.hero-btn:hover::after {
	width: 100%;
	height: 100%;
	transition-delay: 0ms;
}

/* Back to top button */
.top-btn {
	font-size: 1.25rem;
	position: fixed;
	bottom: 6rem;
	right: 6rem;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: var(--clr-primary-5);
	animation: bounce 2s ease-in-out infinite;
	visibility: hidden;
	z-index: -10;
}
.show-top-btn {
	visibility: visible;
	z-index: 1;
}

.top-btn-white {
	background: var(--clr-primary-8);
}
@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* Skills section */

/* Parallax effect */
.parallax {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	width: 100%;
}
.parallax h2 {
	letter-spacing: var(--spacing);
	z-index: 1;
	color: var(--clr-primary-4);
	font-weight: var(--ff-font-weight-light);
	text-transform: uppercase;
}

.p-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100vh;
}
/* tech stack */
.p-box:nth-child(1) {
	background: var(--clr-primary-9);
}
/* my resume */
.p-box:nth-child(2) {
	background: var(--clr-primary-5);
}
/* about me */
.p-box:nth-child(3) {
	background: linear-gradient(rgba(255, 255, 255, 0.4), var(--clr-primary-11)),
		url(/IMG_4496.jpeg) center/cover no-repeat;
}

/* contact me */
.p-box:nth-child(4) {
	background: linear-gradient(rgba(255, 255, 255, 0.7), var(--clr-primary-10)),
		url(/joe-dudeck-X6cChncECA8-unsplash.jpg) center/cover no-repeat;
}
form {
	width: 90%;
	max-width: 600px;
}

.input-group {
	margin-bottom: 2.3rem;
	position: relative;
}

input,
textarea {
	width: 100%;
	padding: 0.2rem;
	outline: 0;
	border: 2px solid var(--clr-primary-11);
	border-radius: 5px;
	color: var(--clr-primary-3);
	background: transparent;
	font-size: 18px;
}

label {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0.5rem;
	color: var(--clr-primary-3);
	cursor: text;
	transition: 250ms;
}

button {
	padding: 0.5rem;
	color: var(--clr-primary-3);
	outline: none;
	background: transparent;
	border: 2px solid var(--clr-primary-11);
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
	top: -28px;
	font-size: 14px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row .input-group {
	flex-basis: 48%;
}

/* footer */
footer {
	padding: var(--padding-big);
	color: var(--clr-primary-4);
	display: flex;
	justify-content: center;
	align-items: center;
}
